<configuration>

    <!-- 標準出力用設定 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ファイルA出力用設定 -->
    <appender name="FILE_A" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/mane-deliver/menu-deliver-api.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/mane-deliver/menu-deliver-api.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- %d{yyyy-MM-dd}の設定によって、自動でローテーションがトリガされる。日まで指定すると、毎日ローテーション。 -->

            <!-- 最大３０日間保存 -->
            <maxHistory>30</maxHistory>

        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_A" />
    </root>
</configuration>