menu-deliver をご利用頂き誠にありがとうございます。

ログインのパスワードリセットの申請を受け付けました。
新しいパスワードが発行されましたので、下記の情報よりログインをお願い致します。

（お手数ですがセキュリティ維持のため、下記の管理画面URLよりログイン後、パスワードの変更を行って頂くことをお勧めいたします。）

　ログインID：$mail
　パスワード：$password

※当メールは送信専用メールアドレスから配信されています。
　このままご返信いただいてもお答えできませんのでご了承ください。

※当メールに心当たりの無い場合は、誠に恐れ入りますが
　破棄して頂けますよう、よろしくお願い致します。